@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>Bienvenido a mi Página de Proyecto</h1>
    <p><strong>Nombre:</strong> Diego Palacios</p>
    <p><strong>Fecha:</strong> 16 de mayo del 2024</p>

    <h2>Descripción del Proyecto</h2>
    <p>
        Este proyecto es una aplicación web MVC diseñada para mostrar una lista paginada de elementos recuperados desde una API REST pública.
        Utiliza la API de JSONPlaceholder para obtener datos ficticios y mostrarlos en una interfaz que permite al usuario navegar a través de las páginas de resultados y ver detalles específicos de cada elemento.
    </p>

    <p>La aplicación también incluye funciones de interacción que permiten al usuario seleccionar el número de ítems por página y moverse a través de páginas de resultados utilizando un esquema de paginación eficiente.</p>
</div>

<style>
    .container {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        background-color: #f8f8f8;
        border: 1px solid #ccc;
        border-radius: 8px;
    }
</style>
